.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & .btn {
        color: #fff;
        margin-left: 16px;
        &-A {
            background: #46139f;
        }
        &-B {
            background: #ff7f50;
        }
        &-close{
            color: #46139f;
            background: #FFF;
            border: 2px solid #46139f;
        }
    }
}
